# Ignore analysis/ directory files
results/

# Ignore assets/ directory files
assets/
hg38_assets/

# Ignore merged_reference/ directory files
merged_reference/

# Ignore .snakemake/ directory
.snakemake

# Ignore macOS directory preferences and hidden files
*.DS_Store
._*

# Ignore test directory for devel
test/
TEST/

# Ignore raw_data
raw_data

nohup.out
